<!DOCTYPE html>
<html>
<head>
  <title>Note</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">

    <div id="header">
      <div id="logo">
        Logo
      </div>

      <div class="user">
        user
      </div>
    </div>

    <div id="message_box">
      <% if flash %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash#{name}" %>
        <% end %>
      <% end %>
    </div>

    <div id="content">
      <div id="content_top">
      </div>

      <div id="content_main">
        <%= yield %>
      </div>

      <div id="content_bottom">
      </div>
    </div>

    <div id="footer">
      here is footer
    </div>

  </div>
</body>
</html>
